extends layout

block content
  // CONTENT
  .container-sm
    h1#title NTTP Patent Statistics
  .container-sm.graph#categories-graph-container
    // Bar Chart Element
    canvas#categories-bar-chart
  hr
  .container-sm.graph#centers-graph-container
    // Pie Chart Element
    canvas#centers-pie-chart

  // Link to Frontend JS - Graphs
  script(src="/javascripts/graphs.js")
