extends layout

block content
  // CONTENT
  .container-sm
    h1#title NTTP Patent Statistics
  // Bar Chart
  .container-sm.graph#categories-graph-container
    canvas#categories-bar-chart
  hr
  // Pie Chart Element
  .container-sm.graph#centers-graph-container
    canvas#centers-pie-chart

  // Link to Frontend JS - Graphs
  script(src="/javascripts/graphs.js")
